<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${changePasswordForm}" method="post" th:action="@{/ChangePassword}">
		<input type="hidden" name="_method" value="put" />
		<div>
					<label>Login ID</label>
					<input type="text" th:field="*{loginId}">
				</div>
				
		<div>
				<label>New Password</label>
				<input type="password" th:field="*{password}">
		</div>
		<div>
			<input type="submit" value="Change Password">
		</div>
</body>
</html>