<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login here</title>
</head>
<body>
<h2>Login here</he>
<span th:text="${errorMsg}"></span>
<form th:action="@{/login}" method="post"th:object="${loginForm}">
	<div>
		<label>LoginId</label>
		<input type="text"th:field="*{loginId}">
	</div>
	<div>
			<label>Password</label>
			<input type="password" th:field="*{password}">
	</div>
	<div>
		<input type="submit" value="LOGIN">
	</div>
</form>
<a th:href="@{/signup}">Signup Here</a>
</div>
</form>
</body>
</html>