<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>signup here</title>
</head>
<body>
<h2>Signup here</he>
<span th:text="${errorMsg}"></span>

<form th:action="@{/signup}" method="post"th:object="${signupForm}">
	<div>
		<label>LoginId</label>
		<input type="text"th:field="*{loginId}">
	</div>
	<div>
			<label>Password</label>
			<input type="password" th:field="*{password}">
	</div>
	<div>
		<input type="submit" value="Signup Here">
	</div>


</form>
</body>
</html>